<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.eim.winder">

    <uses-sdk
        android:targetSdkVersion="23"
        android:minSdkVersion="16"
        tools:overrideLibrary="android.support.test.uiautomator.v18"/>
</manifest>